@import "bourbon";
@import "normalize.scss";



@mixin fadeInText($time) {
	transition: all $time ease-in;
}

#doshTopLayer {
	background-image:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782149/xiwvr13fs4jar9llve31.jpg");
	background-size:100% 100%;
	width:100%;
	background-repeat:none;
	height:720px;
	display:block;
	padding-top:100px;
}

.sliderGraphic {
	height:550px;
	background-repeat:no-repeat;
	background-size:cover;
	background-size:auto 100%;
	vertical-align:middle;
	text-align:right;
	margin-top:0vh;
	width:50vw;
	display:table-cell;
	padding-left:2vw;
	transform-style: preserve-3d;
	transform: perspective(0) rotate3D(0, 0, 0, 0deg) translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-webkit-transform: perspective(0) rotate3D(0, 0, 0, 0deg) translate3d(0,0,0);			
	
	img {
		height:auto;
		width:600px;
		display:block;
		position:relative;
		top:0;
		left:0;
		z-index:9;
	}
}

.insideBounds {
	.psLogo {
		background-image:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782151/nx8tzxos4elp6bzzlxre.svg");
		height:34px;
		width:auto;
		display:block;
		position:relative;
		background-size:auto 100%;
		background-repeat:no-repeat;
		margin-bottom:7px;
		left:5px;
	}
		
	h2 {
		color:#fff;
		font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "GRBTemp", sans-serif;
		font-size:50px;
		font-weight:normal;
		margin:0;	
		line-height:45px;		
	}
	
	p {
		font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "GNBTemp", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size:25px;	
		margin-top:15px;
		line-height:38px;
		color:#fff;
	}	
}

.textMove {
	position:relative;
	top:0;
	left:0;
	z-index:10;
}


.psBounds {
	width:900px;
	display:block;
	position:relative;
	margin:0 auto;
}			

.psText {
	display:table-cell;
	vertical-align:middle;
	width:50%;

	sup {
		font-size:12px;
		top:-25px;
	}

}


#dutyList {
	width:100%;
	margin:20px 0 0 0;
	list-style-type:none;
	-webkit-padding-start:0;
	
	
	li {
		color:#fff;
		font-size:12px;
		text-transform:uppercase;
		font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "GRBTemp", sans-serif;
		font-style: normal;
		font-weight: 500;
		background:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782151/cyjfqm1qi1bldhjaovtl.svg") right center no-repeat;
		background-size:auto 100%;
		margin:0 5px 0 0;
		padding-right:15px;
		display:inline-block;
		
		&:last-child {
			background:none;
			margin:0;
		}
	}
}

.insideBounds {
	position:relative !important;
	display:block;
	float:none !important;
}

#doshButton {
	position:relative;
	top:30px;
	text-decoration:none;
	
	text {
		fill:#fff;
		font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "GRBTemp", sans-serif;		
		font-size:11.5px;
		@include fadeInText(150ms);
	}
	
	.strokeIt {
		stroke:#fff;
		@include fadeInText(150ms);
	}
	
	.fillIt {
		fill:#fff;
		@include fadeInText(150ms);
	}

	svg {
		width:164px;
		height:41px;
		display:block;
		position:relative;
		
	}
	
	&:hover {
		text {
			fill:#55E5FF;
			font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "GRBTemp", sans-serif;		
			font-size:12px;
			@include fadeInText(150ms);
		}
		
		.strokeIt {
			stroke:#55E5FF;
			@include fadeInText(150ms);
		}
		
		.fillIt {
			fill:#55E5FF;
			@include fadeInText(150ms);
		}
	}
}

.doshContent {
	width:900px;
	margin:0 auto;
	display:block;
	color:#4A4A4A;
	font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "GNBTemp", sans-serif;		
	font-size:25px;
	padding-bottom:200px;
	
	h2 {
		color:#904D9D;
		font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "GRBTemp", sans-serif;
		font-size:20px;
		background-image:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782151/wpcqbgxftm8pm81uv2hv.svg");
		background-repeat:repeat-x;
		background-position:left bottom;
		padding:0 0 10px 0;
		display:block;
		text-transform:uppercase;
		margin:80px 0 24px 0;
	}
	
	p {
		color:#4A4A4A;	
		font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "GNBTemp", sans-serif;		
		font-size:25px;
		line-height:35px;
		margin-bottom:15px;
	}
	
	.webScreens {
		display: -ms-flexbox;
		-ms-flex-direction: column;
		-ms-flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 1600px;
		max-width:900px;
		font-size: 0; 
		margin-top:50px;
		
		&:last-child{
			max-height:1000px;
		}
	
		img {
			width:425px;
			height:auto;
			display:block;
			padding:5px;
			
			&:last-child {
				margin-top:25px;
			}
		}
	}
	
}

	#whatRocksauceDidImage {
		margin:40px 0 0 0;
		width:100%;
		height:145px;
		display:block;
		background-image:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782150/q9ekw9jjytvclmqxmwf4.png");
		background-repeat:no-repeat;
		background-size:100%;
		
	}
	
	#brandingImage {
		margin-top:50px;
		
		img {
			width:100%;
			height:auto;
			display:block;
		}
	}
	
	#mobileAppEx {
		margin-top:50px;
		width:100%;
		display:block;
		overflow:hidden;
	}
	
	#iPhoneX, #pixel {
		height:auto;
		display:block;
		position:relative;
		float:left;		
	}
	
	#iPhoneX {
		width:400px;
		z-index:1;
	}
	
	#pixel {
		width:450px;
		margin:200px 0 0 -50px;
		margin-left:40px;
		z-index:2;		
	}


// Sub 900px width
	
@mixin handHeld() {
	
	#doshTopLayer {
		height:100vh;
		padding-top:12vh;
		box-sizing:border-box;
		overflow:hidden;
	}

	.sliderGraphic {
		height:550px;
		background-size:auto 100%;
		vertical-align:middle;
		text-align:center !important;
		margin-top:0vh;
		width:100%;
		padding-left:0vw;
		padding-top:5vh;
		
		img {
			height:60vh;
			width:auto;
			display:block;
			position:relative;
			top:0;
			left:0;
			z-index:9;
			margin-left:-25vw;
		}
	}
	
	#dutyList {
		
		li {
			font-size:1.4vh;
			background-size:auto 100%;
			margin:0 1vh 0 0;
			padding-right:2vh;
			
			&:last-child {
				margin:0;
			}
		}
	}

	
	#doshButton {		
		svg {
			margin-top:0 !important;			
			transform:scale(1.2);
			position:relative;
			transform-origin:0 0;
		}
	}
	
	.insideBounds {
		.psLogo {
			height:4vh !important;
			width:100%;
			margin-bottom:15px !important;
		}
			
		h2 {
			font-size:11vw;
			line-height:11vw !important;
		}
		
		p {
			font-size:6vw !important;
			line-height:7vw !important;
			margin-top:2vh !important;			
		}	
		
		h3 {
			font-size:30px;
			width:100%;
			margin-top:0px !important;
		}	
		

	}
	
	.partLightning {
		&::after {
			width:15px;
			height:30px;
			margin:0 15px 0 15px;
			top:3px;
		}
	}
	
	.psBounds {
		width:90%;
	}			
	
	.psText {
		max-width:100% !important;
		width:100% !important;
		display:block !important;
		vertical-align:middle;
	
		sup {
			font-size:30px;
			top:-30px;
		}
	}
	
	.doshContent {
		width:93%;
		font-size:25px;
		
		h2 {
			font-size:2vh;
			padding:0 0 15px 0;
			margin-top:5vh;
		}
		
		p {
			font-size:2.5vh;
			line-height:3.9vh;
		}
		
		.webScreens {
			display: -ms-flexbox;
			-ms-flex-direction: column;
			-ms-flex-wrap: wrap;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: none !important;
			max-width:100%;
			font-size: 0; 
			margin-top:50px;
			
			&:last-child{
				max-height:1000px;
			}
		
			img {
				width:95%;
				height:auto;
				display:block;
				padding:5px;
				
				&:last-child {
					margin-top:25px;
				}
			}
		}
	}
	
	#whatRocksauceDidImage {
		margin:40px 0 0 0;
		width:100%;
		height:63vw;
		display:block;
		background-image:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1515782150/otncifmijeewxjdk6uem.png");
		background-repeat:no-repeat;
		background-size:100%;
		
	}
	
		
	#iPhoneX, #pixel {
		width:70%;
		height:auto;
		display:block;
		position:relative;
		float:none;
		margin:0 auto;
	}
	
	#pixel {
		margin-top:5vh;
	}
	
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	@include handHeld();
}

@media screen and (max-width: 899px) and (min-width: 320px) {
	@include handHeld();
}

	
