/*

.contact-intro .et_pb_map_container {
    position: initial !important;
    width: 100%;
    height: 400px;
}




.contact-intro .map-holder .et_pb_text_inner {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

 .text-map h2,
 .text-map h4,
 .text-map p {
  margin: 0;
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.02em;
  background: #f6f3e0;
}

.text-map h2 {
  padding: 0 8px 9px;
  font-size: 48px;
  color: #DF5B4E;
}

.text-map h2 strong {
  display: block;
  border-bottom: 4px solid #eccfbf;
}

.text-map h4 {
  margin: 0;
  padding: 2px 8px 3px;
  font-size: 24px;
  color: #373737;
}

.text-map p {
  padding: 8px 8px 5px !important;
  font-size: 16px;
  line-height: 1.4;
  color: #373737;
  font-weight: 500;
  max-width: 70%;
}

.contact-intro .et_pb_row h6 {
    padding: 7px !important;
    font-size: 24px;
    color: #373737;
}


.contact-intro .et_pb_map_container {
      height: 479px !important;
}


*/
.et_pb_text_inner > h3 > a:hover {
 color: #df5b4e !important;
}


.et_pb_text_inner > h2 > a:hover {
 color: #df5b4e !important;
}


.other_blog_article > a:hover {
 opacity: .5;
}

@media (min-width: 1026px) {
  .other_blog_article {
   
      width: 376px;
      height: 298px !important;
    }
}


.other_blog_article_title{
  padding-left: 0px !important;
}

.other_blog_article_title{
  line-height: 1.3 !important;
}

.other_blog_article_summary p{
  line-height: 1.5 !important;
}


@media (min-width: 1026px) {
  .et_pb_section {
     padding-top: 0px !important; 
  }
}


#blog_date_and_categories{
  position: relative;
  top: -10px;
}



.category-thoughts > a:hover {
 opacity: .5;
}


.category-thoughts > h2:hover {
 color: #df5b4e !important;
}



.category-thoughts > h2 > a {
 text-decoration: underline !important;
 text-decoration-color: #e4e1d2 !important;
  text-decoration-thickness: 3px;
text-decoration-style: initial;
 font-family: 'Helvetica Neue', sans-serif;
}




.post-content-inner > p {
 font-family: 'Helvetica Neue', sans-serif !important;
  line-height: 1.5 !important;
}

.entry-title > a:hover{
  color: #df5b4e !important;
}

.section-idea-alt.et_pb_section {
margin-bottom: 50px !important;
  }


  .et_pb_section_parallax > h3 > a{
    font-size: 10px !important;
  }


  .home-intro .et_pb_column_1_3 .et_pb_text_inner h3{
    font-size: 29px !important;
  }

   .home-intro .et_pb_column_1_3 .et_pb_text_inner h2{
   
  }


  .home-intro .et_pb_column_1_3:nth-child(2) .et_pb_text:nth-child(1) h3 {
    max-width: 150px;
}


.home-intro .et_pb_column_1_3:nth-child(2) .et_pb_text:nth-child(2) h3 {
    max-width: 150px;
}




.home-intro .et_pb_column_1_3:nth-child(2) .et_pb_text:nth-child(3) h3 {
    max-width: 150px;
}


.home-intro .et_pb_column_1_3:nth-child(1) .et_pb_text:nth-child(1) h3 {
    max-width: 150px;
}


.home-intro .et_pb_column_1_6 .et_pb_text_inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}



.home-intro .et_pb_column_1_6 .et_pb_text_inner h1, .home-intro .et_pb_column_1_6 .et_pb_text_inner h2, .home-intro .et_pb_column_1_6 .et_pb_text_inner h3 {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #373737;
    font-weight: 700;
    max-width: 90%;
    letter-spacing: -0.02em;
}



.home-intro .et_pb_column_1_6 .et_pb_text_inner h1 a, .home-intro .et_pb_column_1_6 .et_pb_text_inner h2 a, 
.home-intro .et_pb_column_1_6 .et_pb_text_inner h3 a, .home-intro .et_pb_column_1_6 .et_pb_text_inner h4 a, 
.home-intro .et_pb_column_1_6 .et_pb_text_inner h5 a {
    display: inline-block;
    padding: 8px;
    color: inherit;
    text-decoration: none;
    background: rgba(246, 243, 224, 0.9);
    -webkit-transition: all .3s;
    transition: all .3s;
}


.home-intro .et_pb_column_1_6 .et_pb_text_inner h5 {
    background: rgba(246, 243, 224, 0.9);
    padding: 6px 12px 14px;
    max-width: 211px;
}

.home-intro .et_pb_column_1_6 .et_pb_text_inner h4 {
    padding-top: 12px;
    background: #FFC429;
}


.home-intro .et_pb_column_1_6 .et_pb_text_inner h4, .home-intro .et_pb_column_1_6 .et_pb_text_inner h5 {
    display: inline-block;
    margin: 0;
    padding: 6px 12px 14px;
    font-size: 16px;
    color: #373737;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 700;
    max-width: 90%;
}

.section-stats .et_pb_column_1_2 h2 {
    padding: 0 0 16px;
    font-size: 80px;
    line-height: 0.82;
    letter-spacing: -0.02em;
}


.section-stats .et_pb_column_1_2 h2, .section-stats .et_pb_column_1_2 p {
    color: #373737;
    font-weight: 700;
}



.section-stats .et_pb_column_1_2 p {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.01em;
}





/* ------------------------------------------------------------ *\
  How We Do
\* ------------------------------------------------------------ */
.how-we-do.et_pb_section {
  padding: 103px 0 94px;
}

.how-we-do .et_pb_row {
  padding: 0;
}

.how-we-do .ho-we-do-text {
  padding-top: 2px;
  width: 42.5% !important;
}

.how-we-do .ho-we-do-square {
  text-align: right;
  width: 28.75% !important;
}

.how-we-do .ho-we-do-square + .et_pb_column_1_4 {
  text-align: left;
  margin-left: 1px !important;
  width: calc(28.75% - 1px) !important;
}

.how-we-do .ho-we-do-text h3 {
  padding-bottom: 27px;
  font-size: 56px;
  line-height: 0.94;
  color: #373737;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.how-we-do .ho-we-do-text p {
  padding-bottom: 26px !important;
  letter-spacing: -0.02em;
  max-width: 80%;
}

.how-we-do .ho-we-do-text .btn-orange-alt {
  margin-top: 13px;
}

.how-we-do .ho-we-do-square .et_pb_text p {
  font-size: 40px;
  line-height: 0.94;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.how-we-do .et_pb_column {
  overflow: hidden;
}

.how-we-do .ho-we-do-square .et_pb_text {
  max-width: 293px;
  margin-bottom: 1px !important;
  padding: 60px 15px 62px 32px;
  background: #fffeab;
  color: #373737;
  float: right;
  border-radius: 4px;
}

.how-we-do .ho-we-do-square .et_pb_text:nth-child(even) {
  max-width: 100%;
  padding: 43px 18px 35px 32px;
  background: #01a4e5;
  color: #fff;
}

.how-we-do .ho-we-do-square + .ho-we-do-square .et_pb_text {
  max-width: 100%;
  padding: 60px 30px 62px 31px;
  background: #a16acf;
  color: #fff;
  float: left;
}

.how-we-do .ho-we-do-square + .ho-we-do-square .et_pb_text:nth-child(even) {
  padding: 44px 21px 43px 31px;
  max-width: 272px;
  background: #ff9192;
  color: #373737;
}

@media (max-width: 1200px) {
  .how-we-do.et_pb_section {
    padding: 60px 0;
  }
  .how-we-do .ho-we-do-text {
    padding: 0 0 40px;
    width: 100% !important;
  }
  .how-we-do .ho-we-do-square {
    width: 50% !important;
  }
  .how-we-do .ho-we-do-square + .ho-we-do-square {
    width: calc(50% - 1px) !important;
  }
  .how-we-do .ho-we-do-text h3 {
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 1;
  }
  .how-we-do .ho-we-do-text p {
    padding-bottom: 20px !important;
    max-width: 100%;
  }
  .how-we-do .ho-we-do-text .btn-orange-alt {
    margin-top: 10px;
  }
  .how-we-do .ho-we-do-square .et_pb_text p {
    font-size: 30px;
    line-height: 1;
  }
}

@media (max-width: 980px) {
  .how-we-do.et_pb_section {
    padding: 40px 0;
  }
  .how-we-do .ho-we-do-text {
    padding: 0 0 30px;
  }
  .how-we-do .ho-we-do-text h3 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .how-we-do.et_pb_section {
    padding: 30px 0;
  }
  .how-we-do .ho-we-do-square {
    width: 100% !important;
    margin-bottom: 1px;
    display: flex;
  }
  .how-we-do .ho-we-do-square + .ho-we-do-square {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .how-we-do .ho-we-do-text h3 {
    padding-bottom: 15px;
    font-size: 30px;
  }
  .how-we-do .ho-we-do-text p {
    padding-bottom: 15px !important;
    max-width: 1000%;
  }
  .how-we-do .ho-we-do-text .btn-orange-alt {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .how-we-do .ho-we-do-square .et_pb_text p {
    font-size: 24px;
  }
  .how-we-do .ho-we-do-square .et_pb_text {
    max-width: 100%;
    width: 100%;
  }
  .how-we-do .ho-we-do-square .et_pb_text:nth-child(even) {
    padding: 30px;
  }
  .how-we-do .ho-we-do-square + .ho-we-do-square .et_pb_text {
    padding: 30px;
  }
  .how-we-do .ho-we-do-square + .ho-we-do-square .et_pb_text:nth-child(even) {
    padding: 30px;
    max-width: 100%;
  }
.how-we-do .ho-we-do-square .et_pb_text {
  max-width: 293px;
  margin-bottom: 1px !important;
  padding: 60px 15px 62px 30px !important;
  background: #fffeab;
  color: #373737;
  float: right;
  border-radius: 4px;
}


.home-brands .title-brands-home {
   text-align: left;
}


.section-services .et_pb_column_1_2 p {
 text-align: left;
}

.section-services .et_pb_row_6{
 min-height: auto !important;
}

}

.section-training  h4 a {
   position: relative !important;
    padding: 0 0 10px !important;
    margin-bottom: 69px !important;
    font-size: 40px !important;
    line-height: 1 !important;
    color: #df5b4f !important;
    font-weight: 700 !important;
    letter-spacing: -0.02em !important;
    text-decoration: underline;

}

.home-intro .et_parallax_bg_wrap {
  
  border-radius: 4px;
}