@media (max-width: 767px) {
	.sprint-deliverable-section .et_pb_row_4 {
    padding: 10px 0 !important;
    }

    .orange-title-design-sprints-page h2{
      line-height: 1.2em !important;
    }

    .title-day-day-ds-orange{
      width: 100% !important;
      padding: 5px 5px 5px 5px;
    }

    .title-day-day-ds-orange h1{
      font-size: 40px;
    }
  
    .title-day-day-ds-black{
      width: 83% !important;
      padding: 5px 5px 5px 5px;
    }
}

.custom-list-design-sprints {
  list-style: none;
  padding-left: 0;
  padding: 0 !important;
  list-style-type: none !important;
}
.custom-list-design-sprints li {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}
.custom-list-design-sprints li:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-image: url('images/lightning.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


.design-sprint-day-day-list h5{
  color: #FC800F;
  font-size: 24px;
}



.design-sprint-day-day-list h3{
  font-size: 36px;
  font-weight: bold;
}




.design-sprint-day-day-list h6{
  font-size: 16px;
}


.design-sprint-day-day-list p{
  font-size: 14px;
}