// Global Colors
$color_cream:				#F6F3E0;
$color_violet:				#A06BCE;
$color_dark_gray:			#373737;
$color_medium_gray:			#676661;
$color_clean:				#FBF9F6;
$color_fire:				#DF5B4E;
$color_inactive_gray:		#B9B8AF;
$color_subtle_link_gray:		#E4E1D1;
$color_subtle_link_fire:		#F3DCCA;
$color_blog_image_bg:		#FBF9C4;
$color_medium_gray:			#676661;
$color_subtle_gray:			#ECE8D3;
$color_subtle_clean:		#F9F6EB;
