.page-template-thank-you-php{
    .container_posts_thank_you{
        .et_pb_code_inner .et_pb_row.et_pb_row_2.rs-b2 article h2 a.hover_black_orage{
            top: 20px;
            &:hover{
                text-decoration-color: #df5b4e !important;
            }
        }
    }       
}
.recent-post.page-template-thank-you-php {
    .et_pb_column_1_3 {
        @media (min-width: 768px){
            max-width: calc(49.33% - 24px) !important;
            width: calc(49.33% - 24px) !important;
        }
        @media (min-width: 1025px){
            max-width: calc(33.33% - 24px) !important;
            width: calc(33.33% - 24px) !important;
        }
        article a img{
        @media (min-width: 568px){
            height: 200px !important;
        
            }
        }
    }   
} 
.recent-post.page-template-thank-you-php .et_pb_column_1_3 article .entry-title > a {
    @include nav_hover-effect(linear-gradient(to right, #df5b4e, #df5b4e 50%, #000 50%), #df5b4e, 0px ,0px, true, #000000, 0.1 );
    display: inline !important;
    text-decoration: underline !important;
    text-decoration-color: #000 !important;
    &:hover {
        text-decoration-color: #df5b4e !important;
    }
}