@media (max-width: 768px){
    .idea-banner .et_pb_row h4 {
        font-size: 24px;
    }
    .idea-banner .et_pb_row h2 {
        font-size: 40px !important;
    }
    .text-image-workshop .et_pb_column_1_2 .btn-purple{
        width: 100%;
    }
    .workshop-banner h2 ,
    .workshop-banner h5,
    {
        width: min-content;
    }
}