@media (max-width: 768px){
    .idea-banner .et_pb_row h4 {
        font-size: 24px;
    }
    .idea-banner .et_pb_row h2 {
        font-size: 40px !important;
    }
    .text-image-workshop .et_pb_column_1_2 .btn-purple{
        width: 100%;
    }
    .workshop-banner h2 ,
    .workshop-banner h5,
    {
        width: min-content;
    }
    #pmx-none{
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
    }
}
@media (min-width: 768px){
    div.et_pb_section.et_pb_section_1 {
        background-position: 25% 10% !important;
    }
}