@import  '../mixin/mixin';
/*Nav*/
#top-menu.nav.text-link__hover li:not(:last-child).menu-item {
	a {
		@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #000000 50%))
	}
} 
.nav li:not(:last-child) a {
	overflow: hidden;
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #000000 50%))
}
.nav li.link-blue a {
	color: #01a5e6 !important;
	opacity: 1 !important;                              
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #01a5e6 50%))
}
.nav li.link-orange a {
	color: #fc800f !important;
	opacity: 1 !important;
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #fc800f 50%))
}
.nav li.link-purple a {
	color: #a06bce !important;
	opacity: 1 !important;
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #a06bce 50%))
}
.nav li.link-red a {
	color: #ff9191 !important;
	opacity: 1 !important;
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #ff9191 50%))
}
.nav li.link-orange a {
	color: #fc800f !important;
	opacity: 1 !important;
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #fc800f 50%))
}

/*Footer*/
.footer-body {
	p a, ul a {
	@include nav_hover-effect(
	linear-gradient(to right, #1FC774, #1FC774 50%,  #d84b41 50%), #1FC774, 0px ,2px, true);
	display: inline !important;
	
	}
}
.hover_single-link-bg-black{
	@include nav_hover-effect(linear-gradient(to right,  #f6f3e0, #f6f3e0 50%, #ffa47c 50%), #f6f3e0, 0px ,2px, true, #f6f3e0, 1 );
	display: inline !important;
}
.hover_links a{
	@include nav_hover-effect(linear-gradient(to right, #d84b41, #d84b41 50%, #1FC774 50%));
	display: inline !important;
}