.alignleft .size-large{
	.alignleft .size-large{
		width: 960px;
		position: relative;
		display: inline-grid;
		margin: 0px 0px 0px -220px;
		background: #FFFFAA;
		height: 545px;

		img{
			max-height: 480px;
		}

		figcaption{
			display: table-caption;
			caption-side: bottom;
			background: #f6f3e0;
			padding: 20px 0px;
		}
	}
}
