// Globals
@import '_global_colors';
@import '_global_fonts';

// Single Post Styles

/* Shit I haven't figured out yet */
/*figure.alignleft.size-large{
	   width: 960px;
	   position: relative;
	   display: -ms-inline-grid;
	   display: inline-grid;
	   margin: 0px 0px 0px -210px !important;
	   background: #FFFFAA;
	   height: 550px;
    }

    figure.alignleft.size-large > img {
	   max-height: 480px;
    }

    figure.alignleft.size-large> figcaption {
	   display: table-caption;
	   caption-side: bottom;
	   background: #f6f3e0;
	   padding: 23px 0px;
	   margin-top: 0px;
    }*/
// Line-Height
@mixin lhCrop($line-height) {
	  &::before {
	    content: '';
	    display: block;
	    height: 0;
	    width: 0;
	    margin-top: calc((1 - #{$line-height}) * 0.5em);
	  }
}

@mixin active_fade {
	transition: 0.5s ease !important;
}

// Q Writes Code

	#blog_single_content {
	}

	#blog_single_hero_photo {
		display:flex;
		height:576px;
		background-repeat:none;
		background-size:cover;
		overflow:hidden;
		background-position:right center;
		width:100%;
	}

	#blog_single_hero_text_container {
		max-width:1200px;
		width:100%;
		margin:0 auto;
		position:relative;
		margin:auto;
	}

	#blog_single_hero_text {
		max-width:800px;
		width:100%;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		display:inline-grid;
		position:relative;

		h1, h3, h4 {
			font-weight:bold;
			letter-spacing:-.03em;
			display:inline;
			background-color:$color_cream;
		}

		.blog_single_hero_backlink, .blog_single_hero_byline {
			text-decoration:underline;
			text-decoration-thickness: 3px !important;
			position:relative;
		}

		.blog_single_hero_backlink {
			font-size: 32px;
			color: $color_dark_gray;
			text-decoration-color: $color_subtle_link_gray;
			position:relative;
			z-index:1;
			box-shadow:
				8px -4px 0 $color_cream,
				-8px -4px 0 $color_cream,
				8px 0 0 $color_cream,
				-8px 0 0 $color_cream;

			&:hover, &:active, &:focus, &:visited {
				color:$color_fire;
				text-decoration-color: $color_dark_gray;
			}
		    }

		.blog_single_hero_title {
			font-size:24px;
			font-family: 'Helvetica Neue LT W05_75 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size:72px;
			letter-spacing:-.05em;
			position:relative;
			z-index:0;
			left:-4px;
			box-shadow:
				12px 0px 0 $color_cream,
				-4px 0px 0 $color_cream,
				4px 0 0 $color_cream,
				-4px 0 0 $color_cream;
		}

		.blog_single_hero_byline {
			font-size:24px;
			color:$color_fire;
			text-decoration-color: $color_subtle_link_fire;
			position:relative;
			z-index:0;
			display:inline-block;
			margin-top:.5em;
			box-shadow:
				8px 11px 0 $color_cream,
				-8px 11px 0 $color_cream,
				8px 0 0 $color_cream,
				-8px 0 0 $color_cream;

			&:hover, &:active, &:focus, &:visited {
				color:$color_dark_gray;
				text-decoration-color: $color_fire;
			}
		}
	}

#blog_date_and_categories {
	list-style:none;
	margin:0;
	padding:0 0 0 8px;
	position:relative;
	top:-24px;
	height:auto;
	display:inline-block;

	li {
		list-style:none;
		margin:0;
		padding:0;
		display:block;
	}

	#blog_date_large {
		font-size:160px;
		color:$color_dark_gray;
		font-weight:bold;
		text-align:left;
		line-height:1;
		letter-spacing:-.03em;
	}

	#blog_month_year {
		font-size:24px;
		font-weight:bold;
		letter-spacing: -0.03em;
	}

	.blog_category_list {
		list-style:none;
		margin:32px 0 0 0;

		li.blog_category_list_item {
			margin:0;
			padding:0;
			display:block;
			line-height:1;
			margin-bottom:8px;

			a {
				color:$color_fire;
				text-decoration:underline;
				text-decoration-color:$color_subtle_link_fire;
				text-decoration-thickness:2px;
				font-size:16px;
				font-weight:bold;
				letter-spacing: -0.04em;

				&:active, &:hover, &:focus {
					color:$color_dark_gray !important;
					text-decoration-color:$color_fire;
				}
			}
		}
	}
}

#blog_article_content_container {
	display:grid;
	grid-template-columns:184px 600px;
	max-width:936px;
	width:100%;
	grid-gap:24px;
	margin:0 auto;
	margin-top:64px;
	letter-spacing:-.02em;
	justify-content:space-between;
	padding-bottom:104px;
}

#blog_article_content {
	width:100%;

	p:first-of-type {
		font-size:24px;
		font-weight:normal;
		line-height:1.5;
		letter-spacing:-.03em;
	}

	h3 {
		font-size:40px;
		font-weight:bold;
		letter-spacing:-.04em;
		margin:32px 0 8px 0;
		padding:0;
	}

	h4 {
		font-size:24;
		font-weight:bold;
		letter-spacing:-.03em;
		margin:32px 0 8px 0;
		padding:0;
	}


	p, li, blockquote {
		font-size:16px;
		line-height:1.5;
		margin:0 0 16px 0;
		padding:0;
	}

	ul {
		width:90%;
		margin:0 auto;
		margin-top:24px;
		margin-bottom:32px;
	}

	li {
		list-style-type: '⚡️';
		padding-left:8px;
		line-height:1;
		margin:0 0 24px 8px;
		font-weight:600;
	}

	a {
		color:$color_fire;
		text-decoration:underline;
		text-decoration-color:$color_subtle_link_fire;
		text-decoration-thickness:3px;

		&:hover, &:active, &:focus {
			color:$color_dark_gray;
			text-decoration-color:$color_fire;
		}
	}
}

.wp-block-image {
	width:100% !important;
	max-width:856px !important;
	min-width:856px !important;
	background: linear-gradient(180deg, rgba(251,249,196,1) 0%, rgba(251,249,196,1) 480px, rgba(251,249,196,0) 480px);
	border-radius:4px !important;
	display:block !important;
	position:relative !important;
	margin:56px 0 48px 0;
	grid-column-start: 1;
	grid-column-end:2;
	left:-256px;


	img {
		height:480px !important;
		max-height:480px !important;
		width:auto !important;
	}

	figcaption {
		font-size:16px;
		font-weight:bold;
		margin:8px 0 0 0;
		padding:0;
		line-height:1;

		a:link {
			margin:0;
			padding:8px 0 0 0;
			line-height:1;
			font-size:12px;
			color:$color_medium_gray;
			text-decoration-color:$color_medium_gray;
			text-decoration-thickness: 2px;
			display:inline-block;

			&:hover {
				color:$color_fire;
				text-decoration-color:$color_dark_gray;
			}
		}
	}
}

blockquote {

	p:first-of-type, p {
		font-size:20px !important;
		font-weight:400 !important;
		margin:0 0 16px 0;
		position:relative !important;
		left:-4px !important;
		line-height:1.3 !important;
		padding:16px !important;
		border-radius:4px;
		background: linear-gradient(90deg, rgba(209,242,255,1) 8px, rgba(249,246,235,1) 8px, rgba(249,246,235,1) 100%);
		@include active_fade();
	}

	p {
		@include active_fade();

		&:hover {
			background: linear-gradient(90deg, rgba(223,097,078,1) 8px, rgba(249,246,235,1) 8px, rgba(249,246,235,1) 100%);
			@include active_fade();
		}
	}
}

#other_blog_articles {
	display:grid;
	max-width:1200px;
	margin:0 auto;
	grid-template-columns:1fr 1fr 1fr;
	justify-content:space-between;
	gap:39px;
	padding:104px 0 104px 0;

	.other_blog_article {
		min-width:374px;
		display:inline-grid;
		grid-gap:8px;
		grid-template-rows: repeat(3, min-content);
		margin:0;
		padding:0;
		@include active_fade();

		&:hover, &:active, &:focus {
			transform:translateY(-10px);
			@include active_fade();

			.other_blog_article_image {
				@include active_fade();
				box-shadow: 0 2px 24px rgba(0,0,0,.15);
			}

			.other_blog_article_title {
				color:$color_fire;
				text-decoration-color:$color_subtle_link_fire;
			}
		}


		.other_blog_article_image {
			min-width:374px;
			min-height:168px;
			height:168px;
			width:100%;
			display:inline-grid;
			overflow:hidden;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
			border-radius:4px;
			overflow:hidden;
			margin:0;
			padding:0;
			@include active_fade();
		}

		.other_blog_article_title {
			font-size:24px;
			font-weight:bold;
			line-height:.9;
			display:inline-grid;
			margin:8px 0 0 0;
			padding:0;
			color:$color_dark_gray;
			text-decoration:underline;
			text-decoration-thickness:3px;
			text-decoration-color:$color_subtle_link_gray;
			@include active_fade();

			&:hover, &:active, &:focus {
				color:$color_fire;
				text-decoration-color:$color_subtle_link_fire;
				@include active_fade();
			}
		}
		.other_blog_article_summary p {
			font-size:16px;
			font-weight:500;
			line-height:1.3;
			letter-spacing: -0.02em;
			display:inline-grid;
			margin:0;
			padding:0;
		}
	}
}




.single-post{
	#main-content{
		.page{
			.entry-content{
				.et_builder_inner_content{
					.et_pb_section_0{
						//background-image: url(https://rocksaucedev.wpengine.com/wp-content/uploads/2021/04/post-image6.jpg)!important;

						.et_pb_row_0{
							min-height: 550.8px;
							max-height: 556px;

							.et_pb_column_0{
								.text-inner{
									.et_pb_text_inner{
										font-family: 'Helvetica Neue';
										font-style: normal;
										font-weight: bold;
										line-height:.9;
										color: $color_dark_gray;

										h3 {
											display: inline-block;
											padding: 8px 8px 16px 16px;
											display:inline-block;
										}
										.archive_type{

											font-style: normal;
											font-weight: bold;
											font-size: 32px;
											text-decoration: underline #cbcbcb;

										}
										.archive_title {
											font-size: 72px;
											line-height:.9;
											letter-spacing: -0.04em;
											font-weight: bold;
										}
										.archive_autor{
											font-weight: bold;
											font-size: 24px;
											text-decoration-line: underline;
											color: $color_fire;
										}
									}
								}
							}
						}
					}

					.et_pb_section_1{
						.sidebar_rs{
							.date_rs{
								font-family: Helvetica Neue;

								.et_pb_text_inner{
									text-align: left;
									p{

										font-style: normal;
										font-weight: bold;
										font-size: 160px;
										line-height: 82.1%;
									}
								}


							}

							.month_year_rs{
								.et_pb_text_inner{
									padding: 20px 0px 12px;
									text-align: left;
									p{
										font-style: normal;
										font-weight: bold;
										font-size: 24px;
										line-height: 82.1%;


										letter-spacing: -0.01em;
									}
								}
							}
							.categories_rs{
								.et_pb_text_inner{
									padding: 20px 0px 20px;
									ul{
										list-style-type: none;
										text-align: left;
										padding: 0px;

										li{
											font-style: normal;
											font-weight: bold;
											font-size: 16px;
											line-height: 82.1%;


											letter-spacing: -0.01em;
											text-decoration-line: underline;

											color: $color_fire;
										    padding: 8px 0px 8px;
										}
									}
								}
							}

						}
					}

					.et_pb_section_5{
						article{
							padding: 0 20px !important;
						}
					}
				}
			}
		}
	}
}
