@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,200);
.case-study-single {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vw;
  color: #343434;
  font-weight: 200; }
  .case-study-single h1, .case-study-single p {
    color: #343434;
    text-align: justify; }
  .case-study-single h1 {
    font-size: 2.95vw;
    margin-bottom: 1vw; }
  .case-study-single p {
    font-size: 2vw;
    line-height: 3.2vw;
    margin-bottom: 2.5vw; }
  .case-study-single inc {
    color: #248801;
    font-weight: 500; }
  .case-study-single dec {
    color: #a50e0e;
    font-weight: 500; }
  .case-study-single #top {
    background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/ccnnonjvlp3ikwdl4h5w.jpg) no-repeat;
    background-size: 100%;
    min-height: 62vw;
    display: block; }
  .case-study-single #firstRow {
    background: #f3f3f3;
    width: 100%;
    height: 61vw;
    display: block; }
    .case-study-single #firstRow .watch1 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/pry4pyeaeirklkmreg3d.png) no-repeat;
      background-size: 115%;
      float: right;
      display: block;
      width: 45vw;
      height: 60vw;
      margin-top: 5vw; }
    .case-study-single #firstRow .text {
      width: 45vw;
      float: left;
      margin: 14vw 0 0 6vw; }
  .case-study-single #secondRow {
    display: block;
    height: 67vw; }
    .case-study-single #secondRow .watch2 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/rpupo1ntzgqmec5jafjv.png) no-repeat;
      background-size: 100%;
      width: 33vw;
      height: 61vw;
      float: left;
      margin: 4vw 0 0 6vw; }
    .case-study-single #secondRow .text {
      width: 43vw;
      float: left;
      margin: 13vw 0 0 5vw; }
  .case-study-single #thirdRow {
    background: #f3f3f3;
    clear: both;
    padding: 0 0 6vw 0; }
    .case-study-single #thirdRow .text {
      margin: 0 auto;
      width: 70vw;
      padding: 6vw 0 4vw 0; }
      .case-study-single #thirdRow .text h1, .case-study-single #thirdRow .text p {
        text-align: center; }
    .case-study-single #thirdRow .watches {
      margin: 0 auto;
      display: block;
      overflow: hidden;
      text-align: center; }
      .case-study-single #thirdRow .watches ul {
        overflow: hidden;
        display: block;
        margin: 0 auto;
        max-width: 82vw; }
        .case-study-single #thirdRow .watches ul li {
          list-style-type: none;
          float: left;
          width: 20vw;
          height: 37.5vw;
          margin-right: 8vw; }
          .case-study-single #thirdRow .watches ul li.watch3 {
            background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891417/iolrni0mg63grgncqcwm.png) no-repeat;
            background-size: 100%; }
          .case-study-single #thirdRow .watches ul li.watch4 {
            background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891417/zgrd77zfwcsdevacw3xk.png) no-repeat;
            background-size: 100%; }
          .case-study-single #thirdRow .watches ul li.watch5 {
            background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/wenv2daxd75lfjpipynr.png) no-repeat;
            background-size: 100%; }
          .case-study-single #thirdRow .watches ul li:last-child {
            margin-right: 0; }
  .case-study-single #quote {
    padding: 6vw 0 0 0;
    width: 100%; }
    .case-study-single #quote .text {
      width: 60vw;
      margin: 0 auto; }
      .case-study-single #quote .text h1, .case-study-single #quote .text p {
        text-align: center; }
      .case-study-single #quote .text p {
        font-style: italic;
        font-size: 2.2vw; }
    .case-study-single #quote .watch6 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/tzrilcohihsfcxbutase.png) no-repeat;
      background-size: 100%;
      display: block;
      width: 45vw;
      height: 23.8vw;
      margin: 0 auto;
      margin-top: 5vw; }

@media only screen and (min-width: 0px) and (max-width: 568px) {
  .case-study-single h1, .case-study-single p {
    text-align: center; }
  .case-study-single h1 {
    font-size: 8vw;
    margin-bottom: 3vw; }
  .case-study-single p {
    font-size: 4.5vw;
    line-height: 7vw;
    margin-bottom: 4vw; }
  .case-study-single #top {
    background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/ccnnonjvlp3ikwdl4h5w.jpg) no-repeat center top;
    background-size: 130%;
    min-height: 80vw;
    display: block; }
  .case-study-single #firstRow {
    height: 240vw; }
    .case-study-single #firstRow .watch1 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/pry4pyeaeirklkmreg3d.png) no-repeat;
      background-size: 100%;
      float: none;
      display: block;
      width: 70vw;
      height: 80vw;
      margin: 0 auto;
      position: relative;
      top: -115vw; }
    .case-study-single #firstRow .text {
      width: 70vw;
      float: none;
      margin: 0 auto;
      position: relative;
      top: 105vw; }
  .case-study-single #secondRow {
    display: block;
    height: 220vw;
    overflow: hidden; }
    .case-study-single #secondRow .watch2 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/rpupo1ntzgqmec5jafjv.png) no-repeat;
      background-size: 100%;
      width: 50vw;
      height: 90vw;
      float: none;
      margin: 0 auto;
      margin-top: 12vw; }
    .case-study-single #secondRow .text {
      width: 75vw;
      float: none;
      margin: 0 auto;
      margin-top: 8vw; }
  .case-study-single #thirdRow .watches ul {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 62vw; }
    .case-study-single #thirdRow .watches ul li {
      list-style-type: none;
      float: none;
      width: 44vw;
      height: 85vw;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10vw; }
  .case-study-single #quote {
    padding: 6vw 0 0 0;
    width: 100%; }
    .case-study-single #quote .text {
      width: 65vw;
      margin: 0 auto; }
      .case-study-single #quote .text h1 {
        font-size: 7vw; }
      .case-study-single #quote .text p {
        font-style: italic;
        font-size: 5vw; }
    .case-study-single #quote .watch6 {
      display: block;
      width: 60.5vw;
      height: 33.5vw;
      margin: 0 auto;
      margin-top: 10vw; } }
@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .case-study-single h1, .case-study-single p {
    text-align: center; }
  .case-study-single h1 {
    font-size: 8vw;
    margin-bottom: 3vw; }
  .case-study-single p {
    font-size: 4.5vw;
    line-height: 7vw;
    margin-bottom: 4vw; }
  .case-study-single #top {
    background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/ccnnonjvlp3ikwdl4h5w.jpg) no-repeat center top;
    background-size: 130%;
    min-height: 80vw;
    display: block; }
  .case-study-single #firstRow {
    height: 240vw; }
    .case-study-single #firstRow .watch1 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/pry4pyeaeirklkmreg3d.png) no-repeat;
      background-size: 100%;
      float: none;
      display: block;
      width: 70vw;
      height: 80vw;
      margin: 0 auto;
      position: relative;
      top: -115vw; }
    .case-study-single #firstRow .text {
      width: 70vw;
      float: none;
      margin: 0 auto;
      position: relative;
      top: 105vw; }
  .case-study-single #secondRow {
    display: block;
    height: 220vw;
    overflow: hidden; }
    .case-study-single #secondRow .watch2 {
      background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/rpupo1ntzgqmec5jafjv.png) no-repeat;
      background-size: 100%;
      width: 50vw;
      height: 90vw;
      float: none;
      margin: 0 auto;
      margin-top: 12vw; }
    .case-study-single #secondRow .text {
      width: 75vw;
      float: none;
      margin: 0 auto;
      margin-top: 8vw; }
  .case-study-single #thirdRow .watches ul {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 62vw; }
    .case-study-single #thirdRow .watches ul li {
      list-style-type: none;
      float: none;
      width: 44vw;
      height: 85vw;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10vw; }
  .case-study-single #quote {
    padding: 6vw 0 0 0;
    width: 100%; }
    .case-study-single #quote .text {
      width: 65vw;
      margin: 0 auto; }
      .case-study-single #quote .text h1 {
        font-size: 7vw; }
      .case-study-single #quote .text p {
        font-style: italic;
        font-size: 5vw; }
    .case-study-single #quote .watch6 {
      display: block;
      width: 60.5vw;
      height: 33.5vw;
      margin: 0 auto;
      margin-top: 10vw; } }
@media (min-width: 1350px) {
  .case-study-single h1 {
    font-size: 2.4vw;
    margin-bottom: 1vw; }
  .case-study-single p {
    font-size: 1.5vw;
    line-height: 2.7vw;
    margin-bottom: 2vw; }
  .case-study-single #top {
    background: url(http://res.cloudinary.com/rocksauce-studios/image/upload/v1430891418/ccnnonjvlp3ikwdl4h5w.jpg) no-repeat center -3.5vw;
    background-size: 100%;
    min-height: 53vw; }
  .case-study-single #firstRow {
    width: 100%;
    height: 42vw; }
    .case-study-single #firstRow .watch1 {
      width: 33vw;
      height: 48vw;
      background-size: 100%;
      margin: 2.5vw 5vw 0 0; }
    .case-study-single #firstRow .text {
      width: 45vw;
      float: left;
      margin: 7vw 0 0 10vw; }
  .case-study-single #secondRow {
    display: block;
    height: 45vw; }
    .case-study-single #secondRow .watch2 {
      width: 21vw;
      height: 42vw;
      margin: 4vw 0 0 10vw; }
    .case-study-single #secondRow .text {
      width: 43vw;
      float: left;
      margin: 4vw 0 0 5vw; }
  .case-study-single #thirdRow {
    background: #f3f3f3;
    clear: both;
    padding: 0 0 2vw 0; }
    .case-study-single #thirdRow .text {
      margin: 0 auto;
      width: 58vw;
      padding: 6vw 0 4vw 0; }
      .case-study-single #thirdRow .text h1, .case-study-single #thirdRow .text p {
        text-align: center; }
    .case-study-single #thirdRow .watches ul {
      max-width: 65vw; }
      .case-study-single #thirdRow .watches ul li {
        width: 18vw;
        height: 35vw;
        margin-right: 5vw; }
  .case-study-single #quote {
    padding: 6vw 0 0 0;
    width: 100%; }
    .case-study-single #quote .text {
      width: 60vw;
      margin: 0 auto; }
      .case-study-single #quote .text h1, .case-study-single #quote .text p {
        text-align: center; }
      .case-study-single #quote .text p {
        font-style: italic;
        font-size: 1.8vw; }
    .case-study-single #quote .watch6 {
      width: 34vw;
      height: 16vw;
      margin: 0 auto;
      margin-top: 5vw; } }




#logo {
  filter: brightness(0) invert(0) !important;
}


#main-header {
  background-color: transparent !important;
  backdrop-filter: blur(10px) !important;
}


#main-header ul li a:not(:hover) {
  color: #000 !important;
}


footer {
    background-color: #FCAA40 !important;
    padding-top: 100px !important;
}



body {
  margin: 0 auto;
  padding: 0;
  background-color: #FCAA40 !important;
} 


.lasQuote{
  background: white;
  padding-bottom: 100px;
}