//Fonts

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,700italic);

//Colors
	$gray: #414242;
	$teal: #138b81;
	$blue: #004a69;
	$orange: #cc5a2a;
	$yellow: #ff8f2c;
	


//Mixins

@mixin mobileCSS {
	
	.case-study-single {
		.top {
			min-height:90vw;
			
			.logo {
				width:85%;
				min-height:70vw;
				top:23vw;
			}
		}
		
		.description {
			.icons {
				width:100%;
				text-align:center;
				margin-bottom:5vw;
				
				img {
					width:100%;
					height:auto;
				}
			}
		}
		
		text {
			width:85%;		
			display:block;
			
			&.center {
				margin:0 auto;
	
				h1, p {
					text-align:center;
					color:#fff;
				}
			}
		}
		
		h1 {			
			font-size:5vw;
			text-transform:uppercase;
			letter-spacing:.7vw;
			line-height:6vw;
		}
		
		p {
			font-size:4vw;
			line-height:7vw;
			margin-top:3vw;
			
			&.emphasis {
				font-size:4.5vw;
				
				.call {
					color:$yellow;
				}
			}
			
			&.smaller {
				font-size:3vw;
			}
		}
		
		.ux {
			
			.area {				
				width:100%;
				margin:0 auto;
				display:block;
				
				text {
					float:none;
					max-width:90%;
					display:block;		
					margin:0 auto;
					
					h1 {
						text-align:center;
					}
					
					p {
						text-align:center;
						font-size:3.7vw;
						line-height:7vw;
						margin-top:3vw
					}
				}
				
				.uxImage {
					float:none;
					width:90%;
					display:block;
					margin:0 auto;
					margin-top:10vw;
					
					img {
						width:100%;
						height:auto;
					}
				}
			}
		}
		
		.logoArea {
			margin-top:13vw;
			width:90% !important;
					
			.theLogo {
				min-width:100% !important;
				float:none !important;
				display:block;
				margin:0 auto;
			}
			
			.explain {
				float:none !important;
				max-width:100% !important;
				
				p {
					text-align:center;
					
					&.one {
						margin-top:10vw;
					}
					
					&.two {
						margin-top:5vw;
					}
					
					&.three {
						margin-top:10vw;
					}
				}
			}		
		}
		
		.elements {
			
			.icons {
				width:90%;
				margin-top:8vw;
			}		
		}

		.frame {
			height:138vw;
			margin-top:5vw;	
			overflow:hidden;		
			
			.slidee {
				width:75vw;
				height:138vw;
				margin-right:3vw;
			}
		}

		.quoteArea {
			
			.logo {
				float:none;
				width:100%;
				display:block;			
				padding-top:1vw;
				text-align:center;
				
				img {
					width:50%;
					height:auto;
					margin:0 auto;
				}
			}
			
			p {
				clear:both;
				width:100%;
				float:none;
				text-align:center;
				font-size:5vw;
				font-weight:500;
	
				&.person {
					margin-top:2vw;
					font-weight:600;
					font-style:italic;
				}
			}		
		}

	}
}
	
.case-study-single {
	background:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1441059937/jntyklexvnds7gwib9aw.png") repeat-y;
	background-size:100%;
	overflow:hidden;
	
	h1, p {
		font-family: 'Lato', sans-serif;
		color:#fff;		
	}
	
	h1 {			
			font-weight:400;
			font-size:2.1vw;
			text-transform:uppercase;
			letter-spacing:.4vw;
			line-height:3vw;
		}
		
	p {
		font-weight:300;
		font-size:1.6vw;
		line-height:3vw;
		margin-top:2vw;
		
		&.emphasis {
			font-size:1.8vw;
			font-weight:400;
			
			.call {
				color:$yellow;
			}
		}
		
		&.smaller {
			font-size:1.4vw;
		}
	}
	
	.top {
		width:100%;
		min-height:60vw;
		display:block;
		
		.logo {
			width:55%;
			margin:0 auto;
			min-height:50vw;
			display:block;
			position:relative;
			top:15vw;
			
			img {
				width:100%;
				height:auto;
			}
		}
	}

	text {
		width:65%;		
		display:block;
		
		&.center {
			margin:0 auto;

			h1, p {
				text-align:center;
				color:#fff;
			}
		}
	}

	
	.description {
		background:$gray;
		padding:10vw 0 10vw 0;
		margin-bottom:10px;
		
		.icons {
			text-align:center;
			margin-bottom:3vw;
			
			img {
				width:65%;
				height:auto;
			}
		}
	}
	
	.ux {
		background:$teal;
		padding:10vw 0 10vw 0;
		margin-bottom:10px;
		display:block;
		overflow:hidden;
		
		.area {
			width:70%;
			margin:0 auto;
			display:block;
			
			text {
				float:left;
				max-width:45%;
				display:block;		
				margin-right:5%;
				
				p {
					font-size:1.4vw;
				}
			}
			
			.uxImage {
				text-align:right;
				float:left;
				width:50%;
				display:block;
				
				img {
					width:100%;
					height:auto;
				}
			}
		}
	}
	
	.branding {
		background:$blue;
		padding:10vw 0 10vw 0;
		overflow:hidden;
		margin-bottom:10px;		
	}
	
	.logoArea {
		display:block;
		overflow:hidden;
		margin:0 auto;
		margin-top:13vw;
		width:70%;
		clear:both;
				
		.theLogo {
			max-width:50%;
			float:left;
			display:block;

			img {
				width:100%;
				height:auto;
			}
		}
		
		.explain {
			float:right;
			max-width:45%;
			
			p {
				vertical-align:middle;
				text-align:left;
				
				&.one {
					margin-top:10vw;
				}
				
				&.two {
					margin-top:5vw;
				}
				
				&.three {
					margin-top:10vw;
				}
			}
		}		
	}
	
	.elements {
		background:$orange;
		padding:10vw 0 10vw 0;
		margin-bottom:10px;
		overflow:hidden;
		
		.icons {
			width:75%;
			margin:0 auto;
			margin-top:8vw;
			margin-bottom:5vw;
			display:block;
			
			img {
				width:100%;
				height:auto;
			}
		}		
	}
	
	.screenArea {
		background:$gray;
		padding:10vw 0 10vw 0;
		margin-bottom:10px;
		overflow:hidden;
		width:100%;
		text-align:center;
	}
	
	.frame {
		background-size:35%;
		width:100%;
		height:57.5vw;
		z-index:1;
		display:block;
		position:relative;
		clear:both;		
		
		
		.slidee {
			float:left;
			width:32vw;
			height:56.5vw;
			display:block;
			z-index:1;
			position:relative;
			margin-right:1vw;
			cursor:pointer;
						
			&:first-child {
				cursor:default;
			}
			
			img {
				width:100%;
				height:auto;
			}
		}
		
		.clickToView {	
			background:url("http://res.cloudinary.com/rocksauce-studios/image/upload/v1441059937/wp2mau8qxfhftxuwwtyo.png") no-repeat;			
			background-size:100%;
		}
	}
	
	.quoteArea {
		background:$yellow;
		padding:10vw 0 10vw 0;
		margin-bottom:10px;
		overflow:hidden;
		
		text {
			margin:0 auto;
		}
		
		.logo {
			float:left;
			width:30%;
			display:block;			
			padding-top:1vw;
			
			img {
				width:100%;
				height:auto;
			}
		}
		
		p {
			width:65%;
			float:right;
			text-align:left;
			font-size:2.2vw;
			font-weight:500;

			&.person {
				margin-top:2vw;
				font-weight:600;
				font-style:italic;
			}
		}		
	}
}



// Media Query

@media only screen and (min-width: 0px) and (max-width: 568px) {
	@include mobileCSS;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
	
}


@media (min-width: 1350px) {
		
}
